# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Java02/Equals_Hashcode/ExCarro/nbproject/private/
/Java02/Equals_Hashcode/ExCarro/build/
/Java02/Equals_Hashcode/ExCarroH/nbproject/private/
/Java02/Equals_Hashcode/TesteHashCode/nbproject/private/
/Java02/Equals_Hashcode/TesteEquals/nbproject/private/
/Java02/Equals_Hashcode/TesteEquals/build/
/Java02/Equals_Hashcode/TesteHashCode/build/
/Java02/Equals_Hashcode/ExeH01/nbproject/private/
/Java02/Equals_Hashcode/ExeH01/build/
/Java02/Equals_Hashcode/ExeE01/nbproject/private/
/Java02/Equals_Hashcode/ExeE01/build/
/Java02/Ordenação/BubbleSort/nbproject/private/
/Java02/Ordenação/BubbleSort/build/
/Java02/Ordenação/BubbleSort/dist/
/Java02/Ordenação/SelectionSort/nbproject/private/
/Java02/Ordenação/SelectionSort/build/
/Java02/Equals_Hashcode/CodeTeam/nbproject/private/
/Java02/Equals_Hashcode/CodeTeam/build/
/Java02/Java Collections/ArrayList01/nbproject/private/
/Java02/Java Collections/ArrayList01/build/
/Java02/Java Collections/InterfaceSet/nbproject/private/
/Java02/Java Collections/InterfaceSet/build/
/Java02/Java Collections/Futebol/nbproject/private/
/Java02/Java Collections/Futebol/build/
/Java02/Java Collections/ArmazenaInteiro/nbproject/private/
/Java02/Java Collections/CriarJogadores/nbproject/private/
/Java02/Java Collections/dsdsdsd/nbproject/private/
/Java02/Java Collections/CriarJogadores/build/
/Java02/Java Collections/CriarJogadores/dist/
/Java02/Java Collections/NomesHashSet/nbproject/private/
/Java02/Java Collections/NomesHashSet/build/
/Java02/Java Collections/ExerNumerosInteiros/nbproject/private/
/Java02/Java Collections/ExerNumerosInt/nbproject/private/
/Java02/Java Collections/ExerNumerosInt/build/
/Java02/Java Collections/OrdenarAlunos/nbproject/private/
/Java02/Java Collections/OrdenarAlunos_Comparable/nbproject/private/
/Java02/Java Collections/OrdenarAlunos_Comparable/build/
Java02/Java Collections/OrdenarAlunos_Comparable/nbproject/project.properties
Java02/Java Collections/OrdenarAlunos_Comparable/nbproject/genfiles.properties
Java02/Java Collections/OrdenarAlunos_Comparable/nbproject/build-impl.xml
Java02/Java Collections/OrdenarAlunos_Comparable/manifest.mf
Java02/Java Collections/OrdenarAlunos_Comparable/build.xml
/Java02/Java Collections/Comparable_Aluno/nbproject/private/
/Java02/Java Collections/Comparable_Aluno/build/
/Java02/Java Collections/Lista02/OrdenarAlunos_Comparable/build/
/Java02/Java Collections/Lista02/OrdenarAlunos_Comparable/nbproject/private/
/Java02/Java Collections/Lista02/Exer03_AlunoMap/nbproject/private/
/Java02/Java Collections/Lista02/Exer03_AlunoMap/build/
/Java02/Java Collections/Lista02/Exer04_CityKey/nbproject/private/
/Java02/Java Collections/Lista02/Exer05/nbproject/private/
/Java02/Java Collections/Lista02/Exer05/build/
/Java02/Java Collections/Lista02/Exer05/dist/
/Java02/Java Collections/Lista02/Compras/nbproject/private/
/Java02/Java Collections/Lista02/Compras/build/
/Java02/Java Collections/Lista02/LocalDate/nbproject/private/
/Java02/Java Collections/Lista02/LocalDate/build/
